{% extends "network/layout.html" %}

{% block body %}
    <div id='index-body'>
        <div id='post-container'>
            <!-- DISPLAY 10 POSTS ONCE AT THE BOTTOM USERS SHOULD BE ABLE TO GO TO THE NEXT PAGE UNTIL 
            THEY REACH THE END THEY SHOULD THEN BE ABLE TO NAVIGATE BACK -->
            {% for i in posts %}
            <div class='single-post-container' id='{{ i.id }}'>
                <div class='user-info'>
   
                    <a class='profile-link' href='/profile/{{ i.username }}'><div id='{{ i.username }}' class='index-user-info-top'><box-icon id='profilePicIcon' name='user-circle' size='sm' color='rgb(230, 230, 230)'></box-icon>{{ i.username }}</div></a>
                    {% if i.username == user.username %}
                        
                        <div class='edit-post'>
                            <button type="button" id='editPostButton' class="btn btn-dark" data-toggle="modal" data-target="#editPostPopup{{ i.id }}" data-whatever="@getbootstrap">
                                <box-icon animation='none' id='editPostSvg' name='plus-circle' size='30px' color="rgb(230, 230, 230)"></box-icon></button>
                        
                                <div class="modal fade" id="editPostPopup{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(125, 125, 125, 0.25)">
                                    <div class="modal-dialog" role="document" tabindex='5'>
                                    <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><box-icon name='x-circle' color='white' size='sm'></box-icon></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                <form id='editPostForm' action='/' method='POST'>
                                    {% csrf_token %}
                                  <div name='textarea-div' id='{{ i.id }}' class="form-group edit-textarea-div">
                                    {{ postForm.caption }}          
                                  
                                </div>
                                      </div>
                              <div class="modal-footer">
                                <button id='close-edit-modal{{ i.id }}' type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input id='edit-sub' type="submit" value='Submit'>
                             </form>
                             </div>
                            </div>
                          </div>
                        </div>
                        </div> 
                    {% endif %}
                    </div>
                    
                <div class='post-content'>
                    <p id='para_{{ i.id }}'>
                        {{ i.caption }}
                    </p>
                </div>
                <!-- if image != False display small image when clicked gets larger and blurs background like modal -->

                <div class='post-footer'>
                    <div class='interactions'>
                        <form class='interaction-form' method='POST'>
                            {% csrf_token %}
                            <div class='interaction-form'>
                                <button type='submit' class='like interaction-button' name='{{ i.id }}'><box-icon color='white' size='sm' name='like' class='interaction-icons'></box-icon></button>
                                <p id='p-{{ i.id }}'>{{ i.totalLikes }}</p>
                            </div>
                            <div class='interaction-form'>
                                <button type='submit' class='dislike interaction-button' name='{{ i.id }}'><box-icon color='white' size='sm' name='dislike' class='interaction-icons'></box-icon></button>
                                <button type='submit' class='comment interaction-button' name='{{ i.id }}'><box-icon color='white' size='sm' name='comment' class='interaction-icons'></box-icon></button>
                                <p id='p-{{ i.id }}'>{{ i.totalComments }}</p>
                            </div>
                        </form>
                    </div>
                    <div class='post-timestamp'>

                        {{ i.timestamp }}
                    </div>
                </div>
            </div>
            {% endfor %}
        
            {% if  posts.has_previous or posts.has_next%}
            <nav aria-label="Page navigation">
                <ul id='paginator-buttons' class="pagination">
                  <div>
                    <li class="disabled">
                    {% if posts.has_previous %}
                    <a id='previous-page' href="/?page={{ posts.previous_page_number }}" tabindex="-1"><box-icon animation='fade-left-hover' color="rgb(230, 230, 230)" name='left-arrow-alt' ></box-icon></a>
                    {% endif %}
                </li>
                </div>
                <div>
                  <li class="">
                    {% if posts.has_next %}
                    <a id='next-page' href="/?page={{ posts.next_page_number }}"><box-icon animation='fade-right-hover' color="rgb(230, 230, 230)" name='right-arrow-alt'></box-icon></a>
                    {% endif %}
                </li>
                </div>
                </ul>
              </nav>
            {% endif %}
        </div>
    </div>
    


{% endblock %}