{% extends "network/layout.html" %}
{% block body %}
<div id='profile-body'>
    <div id='profile-user-info'>
        <div id='header'>
            <div id='user-header-left'>
                <box-icon name='user-circle' size='100px' color='white'></box-icon>
                <h2 style='color: rgb(230, 230, 230)'>{{ userInfo.name }}</h2>
                <h4 data-user-profile='{{ userInfo.username }}'>@{{ userInfo.username }}</h4>
            </div>
            <div id='user-header-right'>
                <!-- we will want to user an if else to see if the active user is currently following to show a unfollow/follow button -->
                {% if user.username == userInfo.username %}
                <!-- Something to replace the follow/unfollow button -->
                {% else %}
                {% if not isFollowing %}
                <box-icon type='solid' size='lg' color='white' name='user-plus' id='follow-button' data-user='{{ userInfo.id }}'></box-icon>
                {% else %}    
                <box-icon type='solid' size='lg' color='white' name='user-minus' id='follow-button' data-user='{{ userInfo.id }}'></box-icon>
                {% endif %}
                {% endif %}
                <h6 id='followers'>Followers: {{ userInfo.followers }}</h6>
                <h6 id='following'>Following: {{ userInfo.following }}</h6>
                <h6> EST. {{ userInfo.date_joined }}</h6>
            </div>

            
        </div>
        
        <div id='user-header-center'>
            {% if userInfo.bio != '' %}<p>{{ userInfo.bio }}</p>{% endif %}
        </div>
        
        
    
    <div id='user-posts'>
        {% for post in userPosts %}
        <div class='profile-single-post'>
            <div class='profile-sp-left'>
                <div class='profile-sp-caption'>
                    <p id='para_{{ post.id }}'>{{ post.caption }}</p>
                </div>
                <div class='interactions'>
                    <form class='interaction-form' method='POST'>
                        {% csrf_token %}
                        <div class='interaction-form'>
                            <button type='submit' class='like interaction-button' name="{{ post.id }}"><box-icon color='white' size='sm' name='like' class='interaction-icons'></box-icon></button>
                            <p id='p-{{ post.id }}'>{{ post.totalLikes }}</p>
                        </div>
                        <div class='interaction-form'>
                            <button type='submit' class='dislike interaction-button' name="{{ post.id }}"><box-icon color='white' size='sm' name='dislike' class='interaction-icons'></box-icon></button>
                            <button type='submit' class='comment interaction-button' name="{{ post.id }}"><box-icon color='white' size='sm' name='comment' class='interaction-icons'></box-icon></button>
                            <p id='p-{{ post.id }}'>{{ post.totalComments }}</p>
                        </div>
                    </form>
                    <div class='profile-timestamp'><p>{{ post.timestamp }}</p></div>
                    </div>
                
            </div>
            <div class='profile-sp-right'>
                {% if userInfo.username == user.username %}
                <div class='edit-post'>
                    <button type="button" id='editPostButton' class="btn btn-dark" data-toggle="modal" data-target="#editPost{{ post.id }}" data-whatever="@getbootstrap">
                        <box-icon animation='none' id='editPostSvg' name='plus-circle' size='30px' color="rgb(230, 230, 230)"></box-icon></button>
                
                        <div class="modal fade" id="editPost{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(125, 125, 125, 0.25)">
                            <div class="modal-dialog" role="document" tabindex='5'>
                            <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><box-icon name='x-circle' color='white' size='sm'></box-icon></span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <form id='editPostForm' action='/' method='POST'>
                            {% csrf_token %}
                          <div name='textarea-div' id='{{ post.id }}' class="form-group edit-textarea-div">
                            {{ postForm.caption }}            
                          
                        </div>
                              </div>
                      <div class="modal-footer">
                        <button type="button" id='close-edit-modal{{ post.id }}' class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input id='edit-sub' type="submit" value='Submit'>
                     </form>
                     </div>
                    </div>
                  </div>
                </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% if  userPosts.has_previous or userPosts.has_next%}
        <nav aria-label="Page navigation">
            <ul id='paginator-buttons' class="pagination">
              <div>
                <li class="disabled">
                {% if userPosts.has_previous %}
                <a id='previous-page' href="/profile/{{ userInfo.username }}?page={{ userPosts.previous_page_number }}" tabindex="-1"><box-icon animation='fade-left-hover' color="rgb(230, 230, 230)" name='left-arrow-alt' ></box-icon></a>
                {% endif %}
            </li>
            </div>
            <div>
              <li class="">
                {% if userPosts.has_next %}
                <a id='next-page' href="/profile/{{ userInfo.username }}?page={{ userPosts.next_page_number }}"><box-icon animation='fade-right-hover' color="rgb(230, 230, 230)" name='right-arrow-alt'></box-icon></a>
                {% endif %}
            </li>
            </div>
            </ul>
          </nav>
        {% endif %}
    </div>
</div>

</div>
</div>
{% endblock %}